<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOcLya1lRhxdZLoHHQfygeUWpz7Jis5Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>948770165877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oceanmtech.jobsearch.companyapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-format</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-format.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948770165877:ios:5d4f165b0b85862a37143c</string>
</dict>
</plist>